@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Baloo Chettan 2", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #1f1f2b !important;
}

section {
    width: 100%;
    min-height: 100vh;
}

#main-title {
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}

#main-title:hover {
    font-size: 50px;
    color: #ffd700;
}

.department-card {
    min-height: 170px;
    background-color: #303041;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s ease;
}

.department-card:hover {
    color: #ffd700;
}

.department-progress {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.department-progress:hover {
    color: #ffd700;
}

.tasks-card {
    word-wrap: break-word;
    min-height: 70px;
    background-color: #303041;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s ease;
}

.tasks-card:hover {
    color: #ffd700;
}

.codeground {
    max-height: 40vh;
    height: 100%; /* Ensure the container uses the available height */
    overflow: hidden; /* Hide any overflow, let Monaco handle scrolling */
}

.login-tab {
    min-width: 100px;
    min-height: 40px;
    border: none;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    background: transparent;
    color: #fff;
}

.login-tab.base--selected {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #fff;
}

#comment-accordion > li {
    background: transparent;
}

#comment-accordion > li input {
    color: #fff;
    background: transparent;
    border: 1px solid gray;
    caret-color: #fff;
}

.department-progress {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    transition: 0.15s;
}

.department-card:hover .department-progress {
    border: 3px solid #ffd700;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
}

#comment-accordion > li input::placeholder {
    color: gainsboro;
}

.react-datepicker-popper {
    z-index: 9999 !important;
}

#users-checkbox-list > form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: justify;
}

#user-profile-name-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 30px;
    text-align: center;
    background: transparent;
    color: #fff;
}

.contest-register-btn {
    height: auto;
    background: black;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.contest-register-btn:hover {
    color: black;
}

.contest-register-btn:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.contest-register-btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

@media screen and (max-width: 760px) {
    .codeground {
        padding: 0;
        margin-top: 30px;
    }
}